<h2 matDialogTitle>Publish chatbot</h2>
<mat-dialog-content>
    <mat-card *ngIf="!chatProjects || chatProjects.length <= 0" class="text-center">
        <h4>
            Looks like you don't have any Ana chatbot projects yet.
            <br />
            <br />
            <button mat-raised-button color="primary" (click)="createNewChatProject()">Add Ana chatbot project</button>
        </h4>
    </mat-card>
    <mat-form-field *ngIf="chatProjects && chatProjects.length>0" #chatProjectFormField>
        <input type="text" placeholder="Chatbot Project" aria-label="Chatbot Project" matInput [(ngModel)]="filter" [matAutocomplete]="auto" name="chatProject" >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [displayWith]="displayWith">
            <mat-option *ngFor="let option of filteredOptions()" [value]="option">
                {{ option.name }} <span class="desc">Last updated at {{option.updatedAt | date:'hh:mm a on dd-MM-yyyy'}} -- Id: {{ option.id }}</span>
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="added">
            {{added}}
        </mat-hint>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button *ngIf="chatProjects && chatProjects.length > 0" (click)="createNewChatProject()">Add new Ana chatbot project</button>
    <button mat-raised-button [disabled]="!selectedProject" color="primary" (click)="doPublish()">Publish</button>
    <button mat-raised-button matDialogClose>Dismiss</button>
</mat-dialog-actions>