md-form-field, md-select {
  width: 100%;
}

.root {
  margin: 20px 0;
}

.text-section-icon {
  font-size: 20px;
}

.mat-form-field-wrapper {
  /*padding-bottom: 0px;*/
}

section.form-field {
  padding-bottom: 1.25em;
}

.tab-content {
  margin: 20px 0;
  height: 80vh;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.panel-header-icon {
  margin-top: 2px;
  margin-right: 5px;
}

