<div class="container root">
  <div>
    <div class="col-md-12">
      <md-tab-group>
        <md-tab label="Node Info">
          <div class="node-details tab-content">
            <md-form-field>
              <input mdInput type="text" placeholder="Node Name" [(ngModel)]="chatNode.Name" name="nodeName">
            </md-form-field>
            <md-select placeholder="Node Type" [(ngModel)]="chatNode.NodeType" name="nodeType">
              <md-option *ngFor="let nType of nodeTypes" [value]="nType">
                {{ nType }}
              </md-option>
            </md-select>
            <md-checkbox [(ngModel)]="chatNode.IsStartNode" name="isStartNode" align="end">Mark as start node</md-checkbox>
            <md-form-field>
              <input mdInput type="text" placeholder="Variable Name" [(ngModel)]="chatNode.VariableName" name="variableName">
            </md-form-field>
            <md-form-field>
              <input mdInput type="number" placeholder="Timeout (ms)" [(ngModel)]="chatNode.TimeoutInMs" name="timeout">
            </md-form-field>
            <div class="node-api-details" [hidden]="chatNode.NodeType!='ApiCall'">
              <div class="panel panel-default">
                <div class="panel-heading">API Details</div>
                <div class="panel-body">
                  <div>
                    <md-select placeholder="API Method" [(ngModel)]="chatNode.ApiMethod" name="ApiMethod">
                      <md-option *ngFor="let apiMethod of apiMethods" [value]="apiMethod">
                        {{ apiMethod || 'None' }}
                      </md-option>
                    </md-select>
                    <md-form-field>
                      <input mdInput type="url" placeholder="API Url" [(ngModel)]="chatNode.ApiUrl" name="ApiUrl">
                    </md-form-field>
                    <md-form-field>
                      <input mdInput type="text" placeholder="Next Node Id" [(ngModel)]="chatNode.NextNodeId" name="NextNodeId">
                    </md-form-field>
                    <md-form-field>
                      <input mdInput type="text" placeholder="API Response Data Root" [(ngModel)]="chatNode.ApiResponseDataRoot" name="ApiResponseDataRoot">
                    </md-form-field>
                    <md-form-field>
                      <input mdInput type="text" placeholder="Required Variables" [(ngModel)]="chatNode.RequiredVariables" name="RequiredVariables">
                    </md-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="node-card-details" [hidden]="chatNode.NodeType!='Card'">
              <div class="panel panel-default">
                <div class="panel-heading">Card Details</div>
                <div class="panel-body">
                  <md-form-field>
                    <input mdInput type="text" placeholder="Card Header" [(ngModel)]="chatNode.CardHeader" name="CardHeader">
                  </md-form-field>
                  <md-form-field>
                    <input mdInput type="text" placeholder="Card Footer" [(ngModel)]="chatNode.CardFooter" name="CardFooter">
                  </md-form-field>
                  <md-select placeholder="Card Placement" [(ngModel)]="chatNode.Placement" name="Placement">
                    <md-option *ngFor="let cardPlacement of cardPlacements" [value]="cardPlacement">
                      {{ cardPlacement || 'None' }}
                    </md-option>
                  </md-select>
                </div>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab label="Content">
          <div class="node-section-details tab-content">
            <div class="node-section" *ngFor="let section of chatNode.Sections; let i = index">
              <div [ngSwitch]="editorTypeFromSectionType(section.SectionType)">
                <ng-container *ngSwitchCase="'Text'">
                  <md-form-field>
                    <span mdPrefix>
                      <i class="fa fa-file-text-o text-section-icon"></i>
                      &nbsp;
                    </span>
                    <input mdInput type="text" placeholder="Section text" [(ngModel)]="section.Text" name="sectionText-{{i}}">
                  </md-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'TitleCaptionUrl'">
                  <div class="panel panel-default">
                    <div class="panel-heading" [title]="section.SectionType + ' Section'"><i class="fa panel-header-icon" [ngClass]="sectionIcon(section)"></i> Section: {{titleCaptionUrlAlias(section)}}</div>
                    <div class="panel-body">
                      <md-form-field>
                        <input mdInput type="text" placeholder="Title" [(ngModel)]="section.Title" name="sectionTitle-{{i}}">
                      </md-form-field>
                      <md-form-field>
                        <input mdInput type="url" placeholder="Url" [(ngModel)]="section.Url" name="sectionUrl-{{i}}">
                      </md-form-field>
                      <md-form-field>
                        <input mdInput type="text" placeholder="Caption" [(ngModel)]="section.Caption" name="sectionCaption-{{i}}">
                      </md-form-field>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'Carousel'">
                  Carousel support coming soon..
                </ng-container>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab label="Buttons">
          <div class="tab-content">
            <div class="node-buttons" *ngFor="let btn of chatNode.Buttons; let i = index">
              <!--<md-form-field>
                <input mdInput type="text" placeholder="Title" [(ngModel)]="section.Title" name="sectionTitle-{{i}}">
              </md-form-field>-->
              <div class="panel panel-default">
                <div class="panel-heading">Button: {{chatButtonAlias(btn)}}</div>
                <div class="panel-body">

                </div>
              </div>
            </div>
          </div>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>
