* {
  position: static !important;
  top: auto !important;
}

.moving-cursor {
  cursor: grab;
}

.section-icon {
  width: 23px;
}

.chatflow-actions {
  position: absolute !important;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

  .chatflow-actions > button {
    margin: 0 5px;
  }

.chatflow-root-svg {
  overflow: hidden;
  width: 98vw;
  height: 100vh
}

.chatflow-loading {
  padding: 10px 50px;
}

  .chatflow-loading > img {
    width: 100px;
    height: 100px
  }
