* {
    position: static !important;
    top: auto !important;
}

.moving-cursor {
    cursor: grab;
}

.section-icon {
    width: 23px;
}

.chatflow-actions {
    position: absolute !important;
    width: 100%;
    text-align: center;
    margin: 15px 0;
    z-index: 10;
}

    .chatflow-actions > button {
        margin: 0 5px;
    }



.chatflow-root-svg {
    overflow: hidden;
    width: 98vw;
    height: 98vw;
    /*position: fixed !important;
    top: 60px !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;*/
}

.chatflow-loading {
    padding: 10px 50px;
}

    .chatflow-loading > img {
        width: 100px;
        height: 100px
    }

.chatflow-designer-wrapper {
    overflow: hidden;
}

.chatnode {
    background: none;
    cursor: move
}

.chatnode-header {
    height: 30px;
    border-radius: 10px 10px 0 0;
    background-color: #666666;
}

    .chatnode-header.startnode {
        background-color: #8cc83c;
    }

    .chatnode-header > p {
        padding: 5px;
        text-align: center;
        color: white
    }

.chatnode-body {
    background-color: white;
    color: #666666;
    border-radius: 0 0 10px 10px;
}

.chatnode-sections {
    height: 100%;
    padding: 0 5px
}

    .chatnode-sections > table {
        width: 100%;
    }

        .chatnode-sections > table > tr {
            border-bottom: 1px dashed #F0F0F0;
        }

            .chatnode-sections > table > tr > td {
                padding-left: 5px;
            }

.section-icon > fa {
    font-size: 20px;
}

.section-alias {
    padding-right: 5px
}

    .section-alias > div {
        margin: 10px 0px 10px 5px
    }

.chatnode-buttons {
    height: 100%;
    text-align: center;
    width: 100%;
    margin-top: 10px
}

    .chatnode-buttons > table {
        width: 100%;
        table-layout: fixed;
    }

        .chatnode-buttons > table > tr > td {
            width: 80px;
            padding: 10px;
        }

            .chatnode-buttons > table > tr > td > div {
                text-align: center;
            }

                .chatnode-buttons > table > tr > td > div > .fa {
                    font-size: 20px;
                }
