<h2 matDialogTitle>Create business account</h2>
<mat-dialog-content>
    <div class="center-block center-content">
        <form (ngSubmit)="save()" class="form">
            <mat-form-field>
                <input type="text" placeholder="Name" name="name" matInput [(ngModel)]="account.name" required/>
            </mat-form-field>
            <mat-form-field>
                <input type="email" placeholder="Email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" matInput [(ngModel)]="account.email" required #email="ngModel"/>
                <mat-error align="start" *ngIf="email.invalid && (email.dirty || email.touched)">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" placeholder="Password" name="password" matInput [(ngModel)]="account.password" required/>
            </mat-form-field>
            <mat-form-field>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" matInput [(ngModel)]="confirmPassword" required #pwd="ngModel"/>
                <mat-hint align="start" *ngIf="(account.password!=confirmPassword) && (pwd.dirty || pwd.touched)" style="color:red">
                    Passwords do not match
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input type="tel" placeholder="Phone" name="phone" matInput [(ngModel)]="account.phone" pattern="^\+?\d{6,15}$" #phone="ngModel"/>
                <mat-error align="start" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                    Please enter a valid phone number
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" placeholder="Primary Background Color" name="primaryBGColor" matInput [(ngModel)]="primaryBGColor" required/>
            </mat-form-field>
            <mat-form-field>
                <input type="text" placeholder="Primary Text Color" name="primaryFGColor" matInput [(ngModel)]="primaryFGColor" required/>
            </mat-form-field>
            <mat-form-field>
                <input type="text" placeholder="Secondary Color" name="secondaryColor" matInput [(ngModel)]="secondaryColor"/>
            </mat-form-field>
            <input type="submit" name="submit" hidden />
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button matTooltip="Save" color="primary" mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button matDialogClose>Dismiss</button>
</mat-dialog-actions>