<div class="root">
  <div class="center-block center-content">
    <md-accordion>
      <md-expansion-panel *ngFor="let proj of projects; let i = index" [expanded]="isExpanded(proj)">
        <md-expansion-panel-header>
          <md-panel-title><md-icon>chat</md-icon>&nbsp; <i>Chat Project:</i>&nbsp; {{proj.Name}}</md-panel-title>
        </md-expansion-panel-header>

        <md-form-field>
          <input mdInput type="text" placeholder="Project Name" [(ngModel)]="proj.Name" name="projName-{{i}}">
        </md-form-field>

        <md-action-row>
          <button md-raised-button color="primary" (click)="load(proj)"><span class="fab-btn-icon">Load</span></button>
        </md-action-row>

      </md-expansion-panel>
    </md-accordion>

    <section class="bottom-actions">
      <button mdTooltip="Add new project" md-fab (click)="addProject()"><md-icon class="fab-btn-icon">add</md-icon></button>
      <button mdTooltip="Save Changes" [hidden]="projects.length==0" md-fab (click)="saveProjects()"><md-icon class="fab-btn-icon">save</md-icon></button>
    </section>
  </div>
</div>
