/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

body {
    font-family: 'Open Sans';
    background-color: #f5f5f5;
}

[hidden] {
    display: none !important;
}

.fab-btn-icon {
    color: white;
}

.panel-heading-actions {
    margin: -10px;
}

.dialog-root {
    margin: 20px 0;
    height: 90vh;
}

.root {
    margin: 20px 0;
    height: 90vh;
    width: 98vw;
}

    .root > .center-content {
        width: 800px;
    }

input[type=text] {
    line-height: normal;
}

.danger-button {
    background-color: crimson !important;
    color: white !important;
}

.mat-dialog-content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
