mat-form-field, mat-select {
    width: 100%;
}

.text-section-icon {
    font-size: 20px;
}

.tab-content {
    margin: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.panel-header-icon {
    margin-top: 2px;
    margin-right: 5px;
}

.spacing {
    width: 20px;
    display: inline-block;
}

.dialog-actions {
    margin: 10px;
}

mat-dialog-actions {
    justify-content: center;
}