<app-header-bar #appHeader [title]="'Deployment options'" [skipAuth]="true" [logoutNavigation]=""></app-header-bar>
<div class="app-content">
    <div class="center-block center-content">
        <div class="row">
            <div class="col-md-3">
                <h4>
                    Customizations
                </h4>
                <mat-form-field>
                    <input matInput type="url" placeholder="Logo url" [(ngModel)]="webOptions.logoUrl" name="webLogoUrl">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Color" [(ngModel)]="webOptions.color" name="webColor">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Title" [(ngModel)]="webOptions.title" name="webTitle">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Description" [(ngModel)]="webOptions.desc" name="webDesc">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Full page" [(ngModel)]="webOptions.isFullPage" name="webIsFullPage">
                </mat-form-field>

                <section>
                    <mat-slide-toggle #webAutoOpenCheck [checked]="webOptions.autoOpenSecs>0" name="webAutoOpenCheck">Auto open</mat-slide-toggle>
                </section>

                <mat-form-field *ngIf="webAutoOpenCheck.checked">
                    <input matInput type="text" placeholder="Auto open" [(ngModel)]="webOptions.autoOpenSecs" name="webAutoOpenSecs">
                    <mat-hint> in seconds </mat-hint>
                </mat-form-field>

                <section>
                    <mat-slide-toggle name="webAllowChatReset" [(ngModel)]="webOptions.allowChatReset">Allow chat reset</mat-slide-toggle>
                </section>
                <section>
                    <mat-slide-toggle name="webHtmlMessages" [(ngModel)]="webOptions.enableHtmlMessages">Enable HTML in messages</mat-slide-toggle>
                </section>
                <section>
                    <mat-slide-toggle name="webShowAnaBranding" [(ngModel)]="webOptions.showPoweredByAna">Show 'powered by ana'</mat-slide-toggle>
                </section>
                <mat-form-field>
                    <input matInput type="text" placeholder="Height" [(ngModel)]="webOptions.height" name="webHeight">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Width" [(ngModel)]="webOptions.width" name="webWidth">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Foreground color" [(ngModel)]="webOptions.foregroundColor" name="webForegroundColor">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Secondary color" [(ngModel)]="webOptions.foregroundColor" name="webForegroundColor">
                </mat-form-field>
            </div>
            <div class="col-md-9">
                <mat-tab-group>
                    <mat-tab label="Web" >
                        <div class="table-body">
                            <p>
                                The below is the html code snippet which you can use to deploy your chatbot on your website.
                            </p>
                            <section class="code" [innerText]="webSnippet"></section>
                        </div>
                    </mat-tab>
                    <mat-tab label="Android" class="table-body">
                        <div class="table-body">
                            Please follow the instructions at <a href="#" (click)="open('https://github.com/Kitsune-tools/ANAChat-Android')">here</a>
                        </div>
                    </mat-tab>
                    <mat-tab label="iOS">
                        <div class="table-body">
                            Please follow the instructions at <a href="#" (click)="open('https://github.com/Kitsune-tools/ANAChat-iOS')">here</a>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>